
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 style="font-size:30px !important; margin-top:40px;margin-bottom:60px" class="alert alert-danger">You do not have a permission to enter this section</h1>

