@model EventVM
@{
	ViewData["Title"] = "Create";
}

@section Css{
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}

<div class="row">

	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 style="font-size:23px !important" class="card-title">Create Event</h4>
				<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
				<form id="form" class="forms-sample" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<h4 style="margin-top:30px" class="card-title">Photo</h4>
						<input asp-for="Photo" class="photoInput form-control" accept="image/*">
						<span asp-validation-for="Photo" id="photoError" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Title</h4>
						<input asp-for="Title" style="width:100%" />
						<span asp-validation-for="Title" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Description</h4>
						<span asp-validation-for="Description" class="text-danger">Required</span>
						<textarea asp-for="Description" class="ckeditor"></textarea>

						<h4 style="margin-top:30px" class="card-title">Date</h4>
						<input asp-for="Date" style="width:100%" />
						<span asp-validation-for="Date" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Time</h4>
						<input asp-for="Time" style="width:100%" />
						<span asp-validation-for="Time" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Venue</h4>
						<input asp-for="Venue" style="width:100%" />
						<span asp-validation-for="Venue" class="text-danger"></span>

						<div class="mt-3">
							<label style="font-size:15px;font-weight:bold">Select Speaker: </label>
							<select class="js-example-basic-multiple" id="selectSpeaker" name="states" multiple="multiple" style="width:100%">
								@foreach (Speaker spiker in Model.Speakers)
								{
									<option value="@spiker.Id">@spiker.Fullname</option>
								}
							</select>
						</div>
					</div>
					<button style="margin-top:20px" type="submit" class="btn btn-primary mr-2">Create</button>
					<a style="margin-top:20px" asp-action="Index" class="btn btn-light">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		ClassicEditor
			.create(document.querySelector('.ckeditor'))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>

		$(document).ready(function () {
			$('.js-example-basic-multiple').select2();
		});
	</script>
	<script>
		$("#form").submit(function (e) {
			if ($(".ckeditor").val().trim() == "" || $("#selectSpeaker").val().length == 0) {
				e.preventDefault();
			} else {
				let accept = $(".photoInput").attr("accept");
				let error = $("#photoError").text();
				let text = $(".photoInput").val();
				if (text != "" && error == "" && accept == "image/*") {
					e.preventDefault();
					swal({
						title: "Finish",
						text: "Event has been succesfully created",
						icon: "success",
						button: "Done",
					}).then(function () {
						setTimeout(() => { document.querySelector("#form").submit() }, 100)
					})
				}
			}
		})
	</script>

	@*<script>
			$(".speaker").keyup(function () {
				let search = $(this).val();
				let _this = $(this);
				$(this).next(".searchUL").find("li").remove();
				if (search.length > 0 && search.trim() != "") {
					$.ajax({
						url: "/AdminEduHome/Event/SearchSpeaker?search=" + search,
						type: "Get",
						success: function (res) {
							_this.next(".searchUL").append(res);
							$(".speakerP").click(function () {
								_this.val($(this).text())
							})
						}
					})
				}
			})

		</script>*@
}

