@model Course
@{
	ViewData["Title"] = "Create";
}

<div class="row">

	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 style="font-size:23px !important" class="card-title">Create Course</h4>
				<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
				<form id="form" class="forms-sample" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<h4 style="margin-top:30px" class="card-title">Photo</h4>
						<input asp-for="Photo" class="photoInput form-control" accept="image/*">
						<span asp-validation-for="Photo" id="photoError" class="text-danger"></span>

						<div class="mt-2 form-group">
							<label>Course owner</label>
							<select class="form-control form-control-lg" name="courseOwner">
								@foreach (AppUser owner in ViewBag.CourseOwners)
								{
									<option value="@owner.Id">@owner.UserName</option>
								}
							</select>
						</div>

						<h4 style="margin-top:30px" class="card-title">Name</h4>
						<input asp-for="Name" style="width:100%" />
						<span asp-validation-for="Name" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Description</h4>
						<span asp-validation-for="Description" class="text-danger">Required</span>
						<textarea asp-for="Description" class="ckeditor1"></textarea>

						<h4 style="margin-top:30px" class="card-title">About course</h4>
						<span asp-validation-for="CourseContent.AboutCourse" class="text-danger">Required</span>
						<textarea asp-for="CourseContent.AboutCourse" class="ckeditor2"></textarea>

						<h4 style="margin-top:30px" class="card-title">How to Apply</h4>
						<textarea asp-for="CourseContent.HTA" class="ckeditor3"></textarea>

						<h4 style="margin-top:30px" class="card-title">Certification</h4>
						<textarea asp-for="CourseContent.Certification" class="ckeditor4"></textarea>

						<h4 style="margin-top:30px" class="card-title">Starts</h4>
						<input asp-for="CourseFeature.Starts" style="width:100%" />
						<span asp-validation-for="CourseFeature.Starts" class="text-danger"></span>


						<h4 style="margin-top:30px" class="card-title">Duration</h4>
						<input asp-for="CourseFeature.Duration" style="width:100%" />
						<span asp-validation-for="CourseFeature.Duration" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Class duration</h4>
						<input asp-for="CourseFeature.ClassDuration" style="width:100%" />
						<span asp-validation-for="CourseFeature.ClassDuration" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">SKill level</h4>
						<input asp-for="CourseFeature.SkillLevel" style="width:100%" />
						<span asp-validation-for="CourseFeature.SkillLevel" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Language</h4>
						<input asp-for="CourseFeature.Langugage" style="width:100%" />
						<span asp-validation-for="CourseFeature.Langugage" class="text-danger"></span>

						<h4 style="margin-top:30px" class="card-title">Students</h4>
						<input asp-for="CourseFeature.Students" style="width:100%" />

						<h4 style="margin-top:30px" class="card-title">Assesments</h4>
						<input asp-for="CourseFeature.Assesments" style="width:100%" />

						<h4 style="margin-top:30px" class="card-title">Fee</h4>
						<input asp-for="CourseFeature.Fee" class="fee" style="width:100%" />
						<span asp-validation-for="CourseFeature.Fee" class="text text-danger"></span>
					</div>
					<button style="margin-top:20px" type="submit" class="btn btn-primary mr-2">Create</button>
					<a style="margin-top:20px" asp-action="Index" class="btn btn-light">Go Back</a>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
		ClassicEditor
			.create(document.querySelector('.ckeditor1'))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>
		ClassicEditor
			.create(document.querySelector(".ckeditor2"))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>
		ClassicEditor
			.create(document.querySelector(".ckeditor3"))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>
		ClassicEditor
			.create(document.querySelector(".ckeditor4"))
			.catch(error => {
				console.error(error);
			});
	</script>
	<script>
		$("#form").submit(function (e) {
			if ($(".ckeditor1").val().trim() == "" || $(".ckeditor2").val().trim() == "") {
				e.preventDefault();
			} else {
				let accept = $(".photoInput").attr("accept");
				let error = $("#photoError").text();
				let text = $(".photoInput").val();
				let fee = $(".fee").val().includes(".");
				if (text != "" && error == "" && accept == "image/*" && fee!=true) {
					e.preventDefault();
					swal({
						title: "Finish",
						text: "Course has been succesfully created",
						icon: "success",
						button: "Done",
					}).then(function () {
						setTimeout(() => { document.querySelector("#form").submit() }, 100)
					})
				}
			}
		})
	</script>
}

