@model Slider
@{
	ViewData["Title"] = "Edit";
}


<div class="row">

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 style="font-size:23px !important" class="card-title">Edit Slide</h4>
                <h4 class="card-title" style="margin-top:40px">Current Slide</h4>
                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                <img src="~/img/slider/@Model.ImagePath" width="450" alt="Alternate Text" />
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <h4 style="margin-top:30px" class="card-title">Photo</h4>
                        <input asp-for="Photo" class="form-control" accept="image/*">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                        <h4 style="margin-top:30px" class="card-title">Title</h4>
                        <input asp-for="Title" value="@Model.Title" style="width:100%" />
                        <h4 style="margin-top:30px" class="card-title">Description</h4>
                        <textarea asp-for="Description" id="ckeditor">@Model.Description</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a asp-action="Index" class="btn btn-light">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#ckeditor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}

